name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11


      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      
      - name: Run unit tests
        run: pytest

      - name: Send failure email
        if: failure()
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.example.com
          server_port: 587
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: "CI Test Failed - FlaskApp"
          to: "youremail@example.com"
          from: "github-actions@example.com"
          body: "The CI pipeline for FlaskApp failed. Check Actions tab."
